.wrapper {
    max-width: 840px;
    margin: 0 auto;
}

/*------ MAIN HERO ------*/
.jumbotron {
    background-color: white;
    max-width: 840px;
    margin: 0 auto;
}

.jumbotron img {
    width: 50%;
    margin-bottom: 2rem; 
}
/*------ JOIN COMMUNITY SECTION ------*/
.community-sec {
    background: #7A44AF;
    color: white;
    padding: 3rem;
}
.community-sec p {
    color: #fafafa;
}
.community-sec h1 {
    padding: 2rem 0 2rem 0;
}

/*------ INTRODUCTION ------*/
.intro-sec {
    background-color: #7A44AF;
    color: white;
}
.intro-sec h1 {
    padding: 2rem;
}
.intro-sec p {
    margin-bottom: 2rem;
    color: #fafafa;
}

/*------ BENEFITS ------*/
.benefit-sec h2 {
    padding: 2rem;
}
.benefit-sec h3 {
    margin-bottom: 1rem;
}
.benefit-sec dt {
    color: #7A44AF;
}
/*------ OUR MISSION/VISION - about.html ------*/
.mission-sec {
    background-color: #7A44AF;
    color: white;
}
.mission-sec h1 {
    text-align: center;
    padding: 1rem;
}
.mission-sec p {
    color: #fafafa;
}
/*------ WHY - about.html ------*/
.why-sec h1 {
    text-align: center;
    margin: 2rem 0 2rem 0;
}
.why-sec h2 {
    color: #7A44AF;
    margin-bottom: 1rem;
}
.why-sec a {
    color: #7A44AF;
}
/*------ PROBLEM - problem.html ------*/
.problem-sec h1 {
    text-align: center;
    margin: 2rem 0 2rem 0;
}
.problem-sec h2 {
    color: #7A44AF;
    margin-bottom: 1rem;
}
.problem-sec a {
    color: #7A44AF;
}
/*------ SOLUTION - problem.html ------*/
.solution-sec h1 {
    text-align: center;
    margin: 2rem 0 2rem 0;
}
.solution-sec h2 {
    color: #7A44AF;
    margin-bottom: 1rem;
}

/*------ OUR MISSION ------*/
.home-mission {
    background-color: #fafafa;
    padding: 3rem;
}
.home-mission-icon {
    padding: 2rem;
}
.home-mission-icon i {
    margin-bottom: 1.5rem;
    padding: .5rem;
}

.home-mission-icon a {
    display: block;
}

/* ------- WHAT WE DO ------- */
.home-what-we-do {
    padding: 3rem;
}
.home-what-we-do p {
    max-width: 550px;
    margin: 2rem auto;
}

/* ----- AREAS OF FOCUS ------*/
.areas-of-focus {
    background-color: #fafafa;
    padding: 3rem;
}
/* ------- FOOTER ------- */
.footer-info {
    background-color: #7A44AF;
    color: white;
    padding: 2.5rem;
}

.contact-btn {
    background-color: white;
}

.contact-btn a {
    color: #7A44AF;
    text-decoration: none;
    text-transform: uppercase;
}

.social-list {
    list-style-type: none;
    display: inline-block;
    padding: .5rem;

}

.social-list li {
    display: inline-block;
    margin: 0.2rem;
    padding: 0.2rem;
}

.social-list img {
    width: 24px;
}

.footer-copyright {
    background-color: #fafafa;
    padding: 16px;
}

.footer-copyright p {
    margin: 0;
}